@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.backgroundImage {
  background-image: url('/road2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Additional background styles */
  background-color: #f9edac;
  /* opacity: 0.8; */
  /* Add any other background styles you want */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.featureCard {
  background-color: #f9edac;
  background-image: url('/5dayCards/5day_card.png');
  background-position: center;
  background-repeat: no-repeat;
}
